.listItem{
    margin: .4rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 30%;
}
.listPhotos{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #BBB;
    border-radius: 5px;
}
.fabricationDate{
    width: 100%;
}